# Configuration
RANDOM_SEED=42

# Data Volume
NUM_USERS=5000
NUM_DRIVERS=1000
NUM_MERCHANTS=500
NUM_TRANSACTIONS=10000

# Date Range for historical mapping (2 Years)
START_DATE=2023-01-01
END_DATE=2026-04-11

# Kafka Configuration
KAFKA_BROKER=localhost:9092
KAFKA_TOPIC_TRANSACTIONS=swifthub.transactions.live

# Geographic Probabilities
CITY_PROBS=0.4,0.15,0.1,0.05,0.1,0.05,0.05,0.1 

# Output Paths
OUTPUT_DIR=data/sample
DLQ_DIR=data/sample/dlq
